/* 
Cores
menu: #F9F8F7
linha header: #DAD5D2 #3A3532 #375945 #5B8767 #A6C198 #DBDFC8
fundo: #FFFFFF
quebra meio: #F9F8F7
botao hover: #FFF
letra menu: #570c08

Imagens
header
desing_seeds

principal 
hydrangea

painel 1
color-nature allium-hues stained-glass
color-lilac color-petals crochet-tones

painel 2
blooming-spring search-by-color teapottones

footer
supportdesignseed social-media seeddesign-footer
x email x
lapoflegends about-terms hihues

Tipografia
menu topo: playfair display 14
menu meio: playfair display 14
titulo meio: homemade apple 24
    font-family: 'Homemade Apple', cursive;

    font-family: 'Playfair Display', serif;
*/

/* Geral */
img {
    max-width: 100%;
}